<section class="bg-hightlight mb-md-8">
    <div class="bg-primary-200 d-flex justify-content-center align-items-center">
        <p class="h4 mr-6 my-8-1 h5-md mr-md-4 my-md-8">加入會員取得 9 折優惠</p>
        <a class="btn btn-dark my-6">馬上註冊</a>
    </div>
</section>