<nav class="container d-flex py-4 py-sm-3">
    <div class="d-flex align-items-center w-1p ">
      <div class="mr-12">
        <a href="index.html"><img src="../assets/img/logo.svg" alt="logo" /></a>
      </div>
      <ul class="d-flex ">
        <li class="py-3 mr-10 d-sm-none">
          <a href="products.html" class="fw-5 text-decoration-none text-primary">商品列表</a>
        </li>
        <li class="py-3 d-sm-none">
          <a href="story.html" class="fw-5 text-decoration-none text-primary">品牌故事</a>
        </li>
      </ul>
      <div class="ml-auto">
        <a href="login.html"><img src="../assets/img/person.svg" alt=""></a>
      </div>
    </div> 
  </nav>