.breadcrumb {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  list-style: none;
  padding: 0;
  margin: 0;

  .breadcrumb-item {
    display: flex;
    align-items: center;
    color: $neutral-600;
    font-size: 16px;

    a.breadcrumb-link {
      text-decoration: none;
      color: $neutral-600;
      font-weight: 500;

      &:hover {
        text-decoration: underline;
      }
    }

    &.active {
      color: $neutral-900;
      font-weight: 700;
    }

    + .breadcrumb-item::before {
      content: "/";
      margin: 0 12px;
      color: $neutral-300;
      font-weight: 700;
      opacity: 0.4;
    }
  }
}
