.index-banner {
    background-image: url("../img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    padding-left: 200px;
}

.index-brand {
    background-image: url("../img/banner-co-branded.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size:cover;
    
    }

.star-tag{
  position: absolute;
  top: -32px;
  left: -80px;

}