.index-banner {
    background-image: url("/assets/img/banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 800px;
    padding-left: 200px;
}

.index-brand {
    background-image: url("/assets/img/banner-co-branded.png"); 
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: absolute;
    }