.login-form {
  background-image: url("../img/login-bg.png");
  padding: 160px 80px;
  border-radius: 12px;
  @include pad {
    background-image: none;
    padding: 32px 12px;
  }
  .reg-form {
    button {
      width: 100%;
      border: none;
      background-color: transparent;
      border-bottom: 2px solid $neutral-300;
      &:hover {
        border-bottom: 2px solid $neutral-900;
      }
    }
  }
}
.img-col {
  height: 589px;
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }
  @include pad {
    height: 240px;
  }
}
.login-form .reg-login button {
  width: 100%;
  display: block; // 保險填滿父層
  border: none;
  background-color: transparent;
  border-bottom: 2px solid $neutral-300;
  &:hover,
  &:focus {
    border-bottom-color: $neutral-900;
  }
  &.is-active {
    border-bottom-color: $neutral-900;
    color: $neutral-900;
    font-weight: 600;
  }
}

/* 預設隱藏內容 */
.login-content,
.register-content {
  display: none;
}

/* 顯示對應內容 */
#tab-login:checked ~ .tab-content .login-content {
  display: block;
}
#tab-register:checked ~ .tab-content .register-content {
  display: block;
}

/* 選中 tab 樣式 */
#tab-login:checked ~ .tab-labels label[for="tab-login"],
#tab-register:checked ~ .tab-labels label[for="tab-register"] {
  border-bottom: 2px solid #000;
}

/* 可點擊效果 */
.tab-labels label {
  cursor: pointer;
}

.color-group {
  input { position:absolute; opacity:0; pointer-events:none; }

  /* 預設就先設為未選中樣式，避免被其他樣式覆蓋 */
  input + label p   { color:$neutral-700; font-weight:400; transition:color .2s,font-weight .2s; }
  input + label img { filter:grayscale(100%); transition:filter .2s; }

  /* 選中恢復 */
  input:checked + label p   { color:$neutral-900; font-weight:700; }
  input:checked + label img { filter:none; }
}
