.login-form {
    background-image: url("../img/login-bg.png");
    padding: 160px 80px;
    border-radius: 12px;
    @include pad {
      background-image: none; // 或改成 url(../img/login-bg-sm.png)
      padding: 32px 12px;
    }
    .reg-form {
        button {
        width: 100%;
        border: none;
        background-color: transparent;
        border-bottom: 2px solid $neutral-300;
        &:hover { border-bottom: 2px solid $neutral-900; }
      }
    }
  }
  .img-col {
    height: 589px;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      display: block;
    }
    @include pad { height: 240px; }
  }
  .login-form .reg-login button{
    width: 100%;
    display: block;            // 保險填滿父層
    border: none;
    background-color: transparent;
    border-bottom: 2px solid $neutral-300;
    &:hover,
      &:focus { border-bottom-color: $neutral-900; }
      &.is-active {
        border-bottom-color: $neutral-900;
        color: $neutral-900;
        font-weight: 600;
  }
}