<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
<!-- 首頁標題圖 -->

  <div class="banner d-flex justify-content-center flex-direct-col text-white mb-16">
  <h1 class="display-1 mb-4">URBNSTEP<h2 class="h3 mb-12">Your Step, Your Statement</h2>

  </h1>
  <div ><a class="btn-primary"  >立即選購</a></div>
</div>
   
<section class="mb-16">
  <div class="container text-align-center ">
    <h2 class="display-2 mb-3">New Arrival</h2>
    <p class="h2 mb-8">新品上市</p>
    <ul class="row ">
      <li class="col-6 mb-10 text-left">
        <img class="mb-3" src="../assets/img/new-1.png" alt="">
        <h2 class="h5 mb-1">Monoverse</h2>
        <p class="md-p">NT$3,600</p>
      </li>
    <li class="col-6 mb-10 text-left">
      <img class="mb-3" src="../assets/img/new-2.png" alt="">
      <h2 class="h5 mb-1">PLATFORM 404</h2>
      <p class="md-p">NT$2,600</p></li>
    <li class="col-6 text-left mb-16">
      <img class="mb-3" src="../assets/img/new-3.png" alt="">
      <h2 class="h5 mb-1">URBN Force</h2>
      <p class="md-p">NT$3,200</p></li>
    <li class="col-6 text-left">
      <img class="mb-3" src="../assets/img/new-4.png" alt="">
      <h2 class="h5 mb-1">Mode90</h2>
      <p class="md-p">NT$4,000</p></li>
  
  
  </ul>
  <h2 class="h2 mb-4 text-left mt-16 py-5px">熱銷補貨</h2>
<ul class="text-left row">
  <li class="col-3 product-card">
    <div class="tag fz14">
      <p>人氣 No.1</p>
    </div>
    <img src="../assets/img/product-3.png" alt="">
  </li>
  <li class="col-3 product-card">
    <div class="tag fz14">
      <p>人氣 No.1</p>
    </div>
    <img src="../assets/img/product.png" alt="">
  </li>
  <li class="col-3 product-card">
    <div class="tag fz14">
      <p>人氣 No.1</p>
    </div>
    <img src="../assets/img/product-6.png" alt="">
  </li>
  <li class="col-3 product-card">
    <div class="tag fz14">
      <p>人氣 No.1</p>
    </div>
    <img src="../assets/img/product-4.png" alt="">
  </li>
</ul>







  </div>









</section>














<%- include('./layout/aside'); -%>
    <%- include('./layout/footer'); -%>




  
    <script type="module" src="../main.js"></script>
  </body>
</html>
