<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>
<!-- 首頁標題圖 -->

  <div class="banner d-flex justify-content-center flex-direct-col text-white">
  <h1 class="display-1 mb-4">URBNSTEP<h2 class="h3 mb-12">Your Step, Your Statement</h2>

  </h1>
  <div ><a class="btn-primary"  >立即選購</a></div>
</div>
   
<%- include('./layout/aside'); -%>
    <%- include('./layout/footer'); -%>




  
    <script type="module" src="../main.js"></script>
  </body>
</html>
