<!DOCTYPE html>
<html lang="zh-TW">
</html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品列表頁</title>
   
</head>

<body>
    <%- include('./layout/header'); -%>


<main class="container py-8 mb-4">
    <!-- 麵包屑導航列 -->
    <nav class="mb-6 ">
        <ul class="d-flex breadcrumb align-items-center mb-6">
          <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">首頁</a></li>
          <li class="breadcrumb-item"><a href="index.html" class="breadcrumb-link">女鞋</a></li>
          <li class="breadcrumb-item active">所有商品</li>
        </ul>
      </nav>
    <h1 class="h3 mt-6 py-1-5 mb-6 ">女鞋</h1>
    <div class="row">
        <!-- category -->
        <div class="col-2 ">
            <nav class="d-sm-none">
                <ul class="category  ">
                    <li class="mb-4"><a href="#" class="d-block py-3 active list-title">所有商品</a></li>
                    <li class="mb-4"><a href="#" class="d-block py-3 list-title">慢跑鞋</a></li>
                    <li class="mb-4"><a href="#" class="d-block py-3 list-title">滑板鞋</a></li>
                    <li class="mb-4"><a href="#" class="d-block py-3 list-title">厚底鞋</a></li>
                    <li ><a href="#" class="d-block py-3 list-title">限定 / 聯名企劃</a></li>
                </ul>
            </nav>
        </div>
        <!-- product-list -->
        <div class=" col-10 col-md-4 ">
            <div class="row ">
                <div class="col-4 col-md-2 ">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/image.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-1 mb-md-0">PLATFORM 404</h2>
                            <p class="md-p">NT$2,600</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-1.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-1 mb-md-0">PLATFORM 404</h2>
                            <p class="md-p">NT$2,600</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-2.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-1 mb-md-0">VM001</h2>
                            <p class="md-p">NT$2,600</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-3.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-1 mb-md-0">Melty Kiss</h2>
                            <p class="md-p">NT$4,000</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-4.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-1 mb-md-0">BOOMBLOK</h2>
                            <p class="md-p">NT$3,200</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-5.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-1 mb-md-0">BOOMBLOK</h2>
                            <p class="md-p">NT$3,200</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-6.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-1 mb-md-0">R:UNER</h2>
                            <p class="md-p">NT$4,000</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-7.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-1 mb-md-0">Sugar Snap</h2>
                            <p class="md-p">NT$4,000</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-8">
                        <a href="product.html"> 
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-8.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-1 mb-md-0">Neofoam</h2>
                            <p class="md-p">NT$4,000</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2 d-none d-md-block">
                    <div class="mb-12 mb-md-8">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-9.png" alt="Buttermood">
                            <h2 class="h6 mb-1 mb-md-0">Buttermood</h2>
                            <p class="md-p" >NT$4,000</p>
                        </a>
                    </div>
                </div>
            </div>
            <%- include('./layout/pagination'); -%>
        </div>
    </div>



</main>

<%- include('./layout/aside'); -%>
<%- include('./layout/footer'); -%>




<script type="module" src="/main.js"></script>
</body>

</html>