<!DOCTYPE html>
<html lang="zh-TW">
</html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>產品列表頁</title>
   
</head>

<body>
    <%- include('./layout/header'); -%>


<main class="container py-8 mb-12">
    <!-- 麵包屑導航列 -->
    <nav class="mb-6 ">
        <ol class="d-flex  ">
            <li class="breadcrumb__item mr-3 md-sm"><a href="index.html" class="breadcrumb-link">首頁</a></li>
            <li class="breadcrumb__item mr-3 md-sm-2"><a href="index.html" class="breadcrumb-link">/</a></li>
            <li class="breadcrumb__item mr-3 md-sm"><a href="index.html" class="breadcrumb-link">女鞋</a></li>
            <li class="breadcrumb__item mr-3 md-sm-2"><a href="index.html" class="breadcrumb-link">/</a></li>
            <li class="breadcrumb__item md-sm-title">所有商品</li>
        </ol>
    </nav> 
    <h1 class="h3 mb-6">女鞋</h1>
    <div class="row">
        <!-- category -->
        <div class="col-2 d-sm-none ">
            <nav>
                <ul class="category ">
                    <li class="mb-4"><a href="#" class="py-2 active">所有商品</a></li>
                    <li class="mb-4"><a href="#" class="py-2">慢跑鞋</a></li>
                    <li class="mb-4"><a href="#" class="py-2">滑板鞋</a></li>
                    <li class="mb-4"><a href="#" class="py-2">厚底鞋</a></li>
                    <li class="mb-4"><a href="#" class="py-2">限定 / 聯名企劃</a></li>
                </ul>
            </nav>
        </div>
        <!-- product-list -->
         
        <div class=" col-10 col-md-4 ">
            <div class="row ">
                <div class="col-4 col-md-2 ">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/image.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-4 mb-md-0">PLATFORM 404</h2>
                            <p>NT$2,600</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-1.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-4 mb-md-0">PLATFORM 404</h2>
                            <p>NT$2,600</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-2.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-4 mb-md-0">VM001</h2>
                            <p>NT$2,600</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-3.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-4 mb-md-0">Melty Kiss</h2>
                            <p>NT$4,000</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-4.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-4 mb-md-0">BOOMBLOK</h2>
                            <p>NT$3,200</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-5.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-4 mb-md-0">BOOMBLOK</h2>
                            <p>NT$3,200</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-6.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-4 mb-md-0">R:UNER</h2>
                            <p>NT$4,000</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-6">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-7.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-4 mb-md-0">Sugar Snap</h2>
                            <p>NT$4,000</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2">
                    <div class="mb-12 mb-md-8">
                        <a href="product.html"> 
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-8.png" alt="PLATFORM 404">
                            <h2 class="h6 mb-4 mb-md-0">Neofoam</h2>
                            <p>NT$4,000</p>
                        </a>
                    </div>
                </div>
                <div class="col-4 col-md-2 d-none d-md-block">
                    <div class="mb-12 mb-md-8">
                        <a href="product.html">
                            <img class="mb-3 mb-md-2 " src="../assets/img/product-9.png" alt="Buttermood">
                            <h2 class="h6 mb-4 mb-md-0">Buttermood</h2>
                            <p>NT$4,000</p>
                        </a>
                    </div>
                </div>
            </div>
            <!-- pagination -->
             <ul class="d-flex  justify-content-center align-items-center ">
                <li class="mr-3 page-item md-fz40"><button type="button" class="btn" disabled><i class="bi bi-chevron-left"></i></button>
                </li>
                <li class="mr-2 page-item md-fz40 "><button type="button" class="btn active">1</i></button>
                </li>
                <li class="mr-2 page-item md-fz40" ><button type="button" class="btn">2</i></button>
                </li>
                <li class="mr-2 page-item md-fz40"><button type="button" class="btn">3</i></button>
                </li>
                <li class="mr-2 page-item md-fz40"><button type="button" class="btn">...</i></button>
                </li>
                <li class="mr-2 page-item md-fz40"><button type="button" class="btn">10</i></button>
                </li>
                <li class="mr-3 page-item md-fz40"><button type="button" class="btn"><i class="bi bi-chevron-right"></i></button>
                </li>
             </ul>
        </div>
    </div>



</main>

<%- include('./layout/aside'); -%>
<%- include('./layout/footer'); -%>




<script type="module" src="/main.js"></script>
</body>

</html>